label {
  display: block;
  margin-top: 10px;
}
body {
  background-image: url("./assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container-fluid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.profile-img-card-sm {
  width: 48px;
  height: 48px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.component-2 {
  overflow-x:auto;
}

.user-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.user-table td, .user-table th {
  border: 1px solid rgb(3, 0, 0);
  padding: 8px;
}
.user-table tr{background-color: #f2f2f2;}
.user-table tr:hover {background-color: #ddd;}
.user-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #1f73e0;
  color: white;
}